.icon-sprite, .icon-icon-bakery, .icon-icon-coffee, .icon-icon-meet, .icon-icon-paw {
  background-image: url('../img/icon-s8a502bab83.png');
  background-repeat: no-repeat;
}

.icon-icon-bakery {
  background-position: 0 0;
}

.icon-icon-coffee {
  background-position: 0 -100px;
}

.icon-icon-meet {
  background-position: 0 -200px;
}

.icon-icon-paw {
  background-position: 0 -300px;
}

icon-meet, icon-paw, icon-coffee, icon-bakery {
  background-image: url("../img/icon-s8a502bab83.png");
  background-repeat: no-repeat;
}

/* ------------------------------------------
  HOME STYLES
--------------------------------------------- */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}
body section {
  text-align: center;
  padding: 100px 0 0;
  height: 400px;
  width: 100%;
}
body section h1 {
  font-size: 45px;
  padding-bottom: 1em;
}
body section h1 p {
  width: 70%;
  margin: 0 auto;
}

.bg {
  background-color: #e5d3bc;
}

/* ------------------------------------------
  INTRO STYLES
--------------------------------------------- */
#intro {
  background-image: url("../img/beans-bg.jpg");
  /*background-attachment: fixed;*/
  background-position: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
#intro section {
  height: 700px;
}
#intro section p {
  font-size: 3.2em;
  margin-top: 150px;
  color: #313030;
}

/* ------------------------------------------
  ABOUT STYLES
--------------------------------------------- */
#about {
  height: 550px;
}

#about i {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.about-style p {
  text-align: left;
}

.about-style {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.about-style section {
  width: 60%;
  padding: 20px;
}

@media only screen and (max-width: 880px) and (min-width: 661px) {
  #about {
    height: 750px;
  }

  .about-style {
    flex-direction: column;
    height: 600px;
  }

  .about-style section {
    width: 80%;
    margin: auto;
    padding: 10px;
  }
}
@media only screen and (max-width: 660px) and (min-width: 200px) {
  #about {
    height: 1250px;
  }

  .about-style {
    flex-direction: column;
    height: 900px;
  }

  .about-style section {
    width: 80%;
    margin: auto;
    padding: 5px;
  }
}
/* ------------------------------------------
  MENU STYLES
--------------------------------------------- */
#menu {
  height: 650px;
}

h2 {
  font-size: 30px;
}

@media only screen and (max-width: 660px) and (min-width: 200px) {
  #menu {
    height: 800px;
  }
}
/* ------------------------------------------
  BEANS STYLES
--------------------------------------------- */
#beans {
  height: 650px;
  background-image: url(../img/mug-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#beans h1 {
  position: absolute;
}

@media only screen and (max-width: 1000px) and (min-width: 500px) {
  #beans {
    background-image: url("../img/mug-1000px.jpg");
  }
}
@media only screen and (max-width: 450px) and (min-width: 300px) {
  #beans {
    background-image: url("../img/mug-450px.jpg");
  }
}
/* ------------------------------------------
  CONTACT STYLES
--------------------------------------------- */
#contact {
  height: 700px;
  background-color: #ebcdb0;
  background-image: url("../img/bag-bg.jpg");
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.twocolumns {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.details {
  width: 250px;
}
.details h3 {
  font-size: 25px;
  padding-bottom: 10px;
}
.details p {
  font-size: 15px;
  width: 300px;
  text-align: left;
}

#more {
  padding-top: 15px;
}
#more p {
  width: 400px;
  line-height: 30px;
  font-size: 18px;
  text-align: left;
}

@media only screen and (max-width: 770px) and (min-width: 300px) {
  #contact {
    height: 850px;
  }

  #contact h1 {
    padding-bottom: 2.4em;
  }

  .twocolumns {
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .twocolumns div {
    width: 80%;
    margin: auto;
    padding: 0px;
  }

  #more {
    padding-bottom: 20px;
  }
  #more p {
    width: 200px;
  }
}
/* ------------------------------------------
  MAP STYLES
--------------------------------------------- */
#map {
  height: 400px;
  margin: 0px auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: grey;
}

/* ------------------------------------------
  MAP STYLES
--------------------------------------------- */
#foot {
  height: 100px;
  background-color: #37302a;
}
#foot p {
  color: #ebcdb0;
  text-align: center;
  padding-top: 35px;
}
