/* ------------------------------------------
  HOME STYLES
--------------------------------------------- */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}
body section {
  border-bottom: 1px solid #999;
  text-align: center;
  padding: 100px 0 0;
  height: 400px;
  width: 100%;
}
body section h1 {
  margin-bottom: .5em;
}
body section h1 p {
  width: 70%;
  margin: 0 auto;
}

/* ------------------------------------------
  INTRO STYLES
--------------------------------------------- */
#intro {
  background-image: url("../img/beans.jpg");
  /*background-attachment: fixed;*/
  background-position: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
#intro section {
  height: 700px;
}
#intro section p {
  font-size: 3.2em;
  margin-top: 150px;
  color: #fce6bf;
}

/* ------------------------------------------
  ABOUT STYLES
--------------------------------------------- */
#about {
  height: 550px;
  background-color: #ebcdb0;
}

.fourcolumns {
  width: 1200px;
  padding-top: 75px;
  margin: auto;
}

.about-style {
  padding-bottom: 10px;
  -webkit-column-count: 4;
  /* Chrome, Safari, Opera */
  -moz-column-count: 4;
  /* Firefox */
  column-count: 4;
  -webkit-column-gap: 50px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 50px;
  /* Firefox */
  column-gap: 20px;
  -webkit-column-rule: 1px solid #b17338;
  /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid #b17338;
  /* Firefox */
}

/* ------------------------------------------
  MENU STYLES
--------------------------------------------- */
#menu {
  height: 550px;
  background-color: #ebcdb0;
}

/* ------------------------------------------
  BEANS STYLES
--------------------------------------------- */
#beans {
  height: 650px;
  background-image: url(../img/coffee-beans1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
#beans h1 {
  position: absolute;
}

/* ------------------------------------------
  CONTACT STYLES
--------------------------------------------- */
#contact {
  height: 600px;
  background-color: #ebcdb0;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.twocolumns {
  width: 1100px;
  padding-top: 50px;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.details {
  width: 250px;
}
.details h3 {
  font-size: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
}
.details p {
  font-size: 20px;
  width: 500px;
  text-align: left;
}

#more p {
  width: 400px;
  line-height: 45px;
  font-size: 25px;
  text-align: left;
}

/* ------------------------------------------
  MAP STYLES
--------------------------------------------- */
#map {
  height: 400px;
  margin: 0px auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: grey;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/* ------------------------------------------
  MAP STYLES
--------------------------------------------- */
#foot {
  height: 100px;
  background-color: #37302a;
}
#foot p {
  color: #ebcdb0;
  text-align: center;
  padding-top: 35px;
}
