@import 'icon/*.png';
@include all-icon-sprites;


icon-meet, icon-paw, icon-coffee, icon-bakery {
  background-image: url('../img/icon-s8a502bab83.png');
  background-repeat: no-repeat;
}





/* ------------------------------------------
  HOME STYLES
--------------------------------------------- */

body {
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
	section {
		 // border-bottom: 1px solid #999; 
		  text-align: center;
		  padding: 100px 0 0;
		  height: 400px;
		  width: 100%;
			h1 {
				font-size: 30px;
				padding-bottom: 3em;
				p {
					 width: 70%;
  					margin: 0 auto;
			}
		}
	}
}

.bg {
	background-image: url('../img/design-bg.jpg');
}

/* ------------------------------------------
  INTRO STYLES
--------------------------------------------- */

#intro {
	background-image: url('../img/beans.jpg');
	/*background-attachment: fixed;*/
	background-position: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	section {
		height: 700px;
			p {
			font-size: 3.2em;
	 		margin-top: 150px;
	 		color: #fce6bf;
		}
	}
}


/* ------------------------------------------
  ABOUT STYLES
--------------------------------------------- */

#about {
	height:550px;
	// background-color: #ebcdb0;
	// background-image: url(../img/design-bg.jpg);
}

#about i {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.about-style p {
	text-align: left;
    	}
.about-style {
	display:flex;
	justify-content: space-around;
	margin: auto;
}

.about-style section {
	width: 60%;
	padding: 20px;
}

@media only screen and (max-width: 880px) and (min-width: 661px) {
	#about {
		height: 750px;
	}
	.about-style {
		flex-direction: column;
		height: 600px;
		}
	.about-style section {
		width: 80%;
		margin: auto;
		padding: 10px;
	}
}

@media only screen and (max-width: 660px) and (min-width: 200px) {
	#about {
		height: 1250px;
	}
	.about-style {
		flex-direction: column;
		height: 900px;
		}
	.about-style section {
		width: 80%;
		margin: auto;
		padding: 5px;
	}
}

/* ------------------------------------------
  MENU STYLES
--------------------------------------------- */

#menu {
	height:650px;
	// background-color: #ebcdb0;
}

@media only screen and (max-width: 660px) and (min-width: 200px) {
	#menu {
		height: 800px;
	}
}


/* ------------------------------------------
  BEANS STYLES
--------------------------------------------- */

#beans {
	height: 650px;
	background-image: url(../img/coffee-beans1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;

  	h1 {
	position: absolute;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 500px) {
	#beans {
		background-image: url('../img/coffee-beans-1000px.jpg');
	}
	}
	@media only screen and (max-width: 410px) and (min-width: 300px) {
	#beans {
		background-image: url('../img/coffee-beans-400px.jpg');
	}
	}


/* ------------------------------------------
  CONTACT STYLES
--------------------------------------------- */

#contact {
	height: 700px;
	background-color: #ebcdb0;
	background-image: url('../img/brown-bg.jpg');
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.twocolumns {
  display: flex;
  justify-content: space-around;
	margin: auto;
}



.details {
	width: 250px;
	h3 {
		font-size: 25px;
		padding-bottom: 10px;
	}
	p {
	font-size: 15px;
	width: 300px;
	text-align: left;
	}
}
#more {
	padding-top: 15px;
	p {
	width: 400px;
	line-height: 30px;
	font-size: 18px;
	text-align: left;
}}

@media only screen and (max-width: 770px) and (min-width: 300px) {

	#contact {
		height: 850px;
	}
	.twocolumns {
	height: 500px;
  display: flex;
  flex-direction: column;
	margin: auto;
}

	.twocolumns div{
		width: 80%;
		margin: auto;
		padding: 0px;
}
#more {
	padding-bottom: 20px;
	p {
	width: 200px;
}}
}

/* ------------------------------------------
  MAP STYLES
--------------------------------------------- */

#map  {
  height: 400px;
  margin: 0px auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: grey;
}


/* ------------------------------------------
  MAP STYLES
--------------------------------------------- */

#foot {
	height:100px;
	background-color: #37302a;
	p {
	color: #ebcdb0;
	text-align: center;
	padding-top: 35px;
	}
}
























